<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2 style="margin-bottom: 0px; padding-top: 0px;">Samit Koyom</h2>
            <h4 >samit@email.com</h4>
        </div>
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Soufiane FADIL">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item  routerLink="/">Dashboard</a>
    <a mat-list-item routerLink="/posts">Posts</a>
    <a mat-list-item routerLink="/articles">Articles</a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

    <a mat-list-item routerLink="/leads">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>

</mat-nav-list>