.table{
    width: 100%;
}

table thead{
    padding: 10px;
}

table thead tr{
    background-color: green;
    color: #fff;
}

table thead tr th{
    padding: 8px;
}

table tbody tr td{
    padding: 10px;
}
